html, body {
    overflow: hidden;
    width   : 100%;
    height  : 100%;
    margin  : 0;
    padding : 0;
    color: white;
    background-color: black;
}

#renderCanvas {
    width   : 100%;
    height  : 100%;
    touch-action: none;
}

.textcontainer{
    position:absolute;
    padding:20px;
}

li, h3 {
    margin: 2px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#calculating {
    text-align: center;

}
